<div class="container" id="login-container">
  <h1 class="text-center"><%= "Welcome #{current_user.name}" %></h1>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-2 text-center">
      <a class="btn-left btn btn-clear btn-sm btn-min-block"
       href="/give"><h1>Give</h1></a>
    </div>
    <div class="col-md-2 text-center">
      <a class="btn-right btn btn-clear btn-sm btn-min-block"
       href="/items"><h1>Get</h1></a>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="col-md-12 spacer-big"></div>
  <div class="col-md-12 text-center">
    <%= link_to("Admin Categories", admin_categories_path,class:"btn-left", id: "admin-button") %>
    <%= link_to("Admin Items", admin_items_path,class:"btn-left", id: "admin-button") %>
    <%= link_to("Admin Orders", admin_orders_path, class:"btn-left", id: "admin-button") %>
  </div>
</div>
