<div class="container outer-cart">
<div class="col-md-2"></div>
  <div class="col-md-8 cart-container">
    <h1 class="cart-header text-center"><%= params[:status].capitalize %> Orders</h1>
    <%= render partial: "orders" %>
  </div>
</div>

<div class="col-md-2"></div>
