<div class="container"
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <div class="homepage-thumbnail-pic">
          <img src="http://40.media.tumblr.com/tumblr_lmch7hWxKv1ql4ppeo1_500.jpg" alt="">
        </div>
        <div class="caption">
          <h4 class="text-center">Testimonial</h4>
          <p>"A Give'n'Get donor didn't know what to do with all her extra hula-hoops. Well, trust me. They are put to good use!"<br> -Clarence <strike>(MIA)</strike></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <div class="homepage-thumbnail-pic">
          <img src="http://news.xinhuanet.com/english2010/photo/2011-04/12/13825063_31n.jpg" alt="">
        </div>
        <div class="caption">
          <h4 class="text-center">Testimonial</h4>
          <p>"Thanks to a generous Give'n'Get donor, I was able to use donated airline miles to travel to Zimbabwe to teach English and Science!"<br> -Victoria Ruthers</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <div class="homepage-thumbnail-pic">
          <img src="http://farm9.static.flickr.com/8374/8556034364_bf9dd7ecf9_m.jpg" alt="">
        </div>
        <div class="caption">
          <h4 class="text-center">Testimonial</h4>
          <p>"Turing School gave us their chalkboards and a generous supply of chalk when they changed over to whiteboards. Now we have something easy to write on!"<br> -Sarah Mbengi</p>
        </div>
      </div>
    </div>
  </div>
</div>
