<div class="container"
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <div class="homepage-thumbnail-pic">
          <img src="http://www.cbc.ca/arts/images/pics/arts_brangelina_392.jpg" alt="">
        </div>
        <div class="caption">
          <h4 class="text-center">A Real Go Giver</h4>
          <p>"I want to work; then, as my kids get older, I want to have adventures. I want to visit all their countries: learn and live inside all their cultures."<br> -Angelina Jolie</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <div class="homepage-thumbnail-pic">
          <img src="http://www.rawstory.com/wp-content/uploads/2015/03/Patrick-Stewart-in-Blunt-Talk-via-screencap-800x430.png" alt="">
        </div>
        <div class="caption">
          <h4 class="text-center">A Real Go Giver</h4>
          <p>"It is what you do from now on that will either move our civilization forward a few tiny steps, or else... begin to march us steadily backward."<br> -Patrick Stewart</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <div class="homepage-thumbnail-pic">
          <img src="http://img.timeinc.net/time/quotes/2007/10/1031_oprah_winfrey.jpg" alt="">
        </div>
        <div class="caption">
          <h4 class="text-center">A Real Go Giver</h4>
          <p>"The biggest adventure you can take is to live the life of your dreams."<br> -Oprah Winfrey</p>
        </div>
      </div>
    </div>
  </div>
</div>
