
<div class="col-md-2"></div>
<div class="col-md-10" id="contact">
		<h1>Contact us!</h1>
		<br>
		<p>Send us an email at: <strong><%=link_to("givenget@fakeemails.com", "mailto:givenget@fakeemails.com") %></strong></p>
		<br>
		<p>or call at: <strong>325-368-6237</strong></p>
	</div>
</div>