<%= render partial: 'carousel' %>

<div class="container text-center home-topic home-first-topic">
  <h1>Testimonials</h1>
  <h3>stories from those you have helped</h3>

  <%= render partial: 'testimonials'%>

</div>

<div class="container text-center home-topic">
  <h1>Real Go Givers!</h1>
  <h3>here are some of our most generous givers</h3>

  <%= render partial: 'top_donors'%>

</div>
