<!-- Page Content -->
<div class="container">
<div class="row">

  <div class="col-md-3">
    <div class="list-group">
      <span class="list-heading list-group-item">
        Items
      </span>
      <% @category.items.each do |item| %>
        <%= link_to item.title, item_path(item.slug), class: "list-group-item" %>
      <% end %>
    </div>
  </div>

  <div class="col-md-9">
    <div class="thumbnail">
        <img class="img-responsive" src="http://placehold.it/800x300" alt="">
        <div class="caption-full">
            <h4 class="pull-right"></h4>
            <h4><%= @category.title %></h4>
            <p></p>
        </div>
    </div>
    <%= link_to "Categories Index", admin_categories_path if current_admin?%>
  </div>

  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>
</div>
</div>
